
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


.usr{
    background-color: aqua;
    height: 200px;
    width: 300px;
    align-items: center;
    cursor: pointer;
}
.pas{
    background-color: rgb(134, 102, 102);
    height: 200px;
    width: 300px;
    cursor: pointer;  
    display: grid;
}
.pas:hover{
    background-color: rgb(183, 109, 18);
}
.usr:hover{
    background-color: blue;
}